body{
    align-items: center;
    justify-content: center;
    height: 100hv;
    padding-left: 500px;
    padding-top: 300px;
}
.firstbox{
    border: 2px solid black;
    width: 800px;
    height: 80px;
    padding: 20px;
    border-radius: 20px;
    background-color: antiquewhite;
}
input{
    width: 300px;
    height: 30px;
}

.float{
    float: right;
    width: 110px;
    height: 30px;

}

.title1{
    border: 2px solid black;
    width: 800px;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
    background-color: antiquewhite;
}

.title2{
    border: 2px solid black;
    width: 800px;
    height: 100px;
    border-radius: 20px;
    padding: 20px;
    background-color: antiquewhite;
}

.days{
    display: flex;
    justify-content: space-between ;
    width: 800px;
    padding-left: 20px;
}

.day{
    border: 1px solid black;
    width: 80px;
    height: 70px;
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
}




.day.active {
    background-color: #3498db; 
    color: #fff; 
}



  .highlight-button.clicked {
    background-color: #e74c3c;
  }